{% extends "main/base.html" %} {% load static%} {% block title %}Download | Quick Share{% endblock %} {% block css %}
<link rel="stylesheet" href="{% static 'assets/css/home.css' %}" />
{% endblock %} {% block body %}
<div class="section upload_section" id="upload">
  <div class="upload_contents download_contents">
    <img class='download_svg' src="{% static 'assets/img/download.svg' %}" alt="Download">
    <p>Click The Button To Download Your Files</p>
    <a class="button1" href={{url}}>Download</a>
  </div>
</div>

{% endblock %}
